
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../images/train.png" alt="" width="30" height="24" class="m-20 d-inline-block align-text-top font-weight-bold">
                Ticketac
            </a>
        <div>
            <a href="/" class="align-right text-danger text-decoration-none">Connection</a>
            <a href="/mylasttrip" class="text-decoration-none text-black">My last trips</a>
        </div> 

        </div>
    </nav>
