
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./public/images/train.png" alt="" width="30" height="24" class="m-20 d-inline-block align-text-top font-weight-bold">
                Ticketac
            </a>
        <div>
            <a href="/connection" class="align-right text-danger text-decoration-none">Connection</a>
            <a href="/my-last-trips" class="text-decoration-none text-black">My last trips</a>
        </div> 

        </div>
    </nav>
