html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #c4dfe9, #2d7bab )no-repeat;
  height: 100vh;
}
footer{
  color: white;
}
a {
  color: #00B7FF;
}
h4 {
  color: white;
}
.container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control{
  margin : 15px;
}
.result{
  flex-direction: column;
}
.btn-confirm{
  text-align :end;
  margin-right: 2em;
}
